<% layout("/layout/boilerplate") %>
  <body>
    
    <div class="row mt-4">
    
    
    <div class="col-8 offset-3">
    <h3><%= listing.title %>:</h3>
    </div>


    <div class="card col-6 offset-3 show-card">
  
      <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="...">
      <div class="card-body">
       <p class="card-text mt-2"> 
       
        <%= listing.description %><br />
        &#8377; <%= listing.price.toLocaleString("en-IN") %> /Night<br />
        <%= listing.location %><br />
        <%= listing.country %><br />
      </p> 

      </div>
    </div>

  
  
    <br>
    <div class="btns">
      <!-- Edit button -->
      <a class="btn btn-dark add-btn mb-3 col-1 offset-3" href="/listings/<%= listing._id %>/edit">Edit</a>
      <!-- Delete button -->
      <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
      <button class="btn btn-dark add-btn  offset-5">Delete</button>
      </form>
    </div>

   
  </div>
  
  </body>
