<% layout("/layout/boilerplate") %>
  <body>
    
    <div class="row mt-4">
    
    
    <div class="col-8 offset-3">
    <h3><%= listing.title %>:</h3>
    </div>


    <div class="card listing-card col-6 offset-3 show-card">
  
      <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="...">
      <div class="card-body">
        <p class="card-text"> 
          <i>owned by: <%= listing.owner.username %></i>
        </p>
       <p class="card-text"> 
        
        
        <%= listing.description %><br />
        &#8377; <%= listing.price.toLocaleString("en-IN") %> /Night<br />
        <%= listing.location %><br />
        <%= listing.country %><br />
      </p> 

      </div>
    </div>

   <!-- Edit and Delete buttons -->
    <br>

   <% if(currentUser && currentUser._id.equals(listing.owner._id)) { %>
    <div class="btns">

      <a class="btn btn-dark add-btn mb-3 col-1 offset-3" href="/listings/<%= listing._id %>/edit">Edit</a>

      <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
      <button class="btn btn-dark  mb-3 offset-3">Delete</button>
      </form>
    </div>
    <% } %>
  </div>

  <!-- review form -->
  <div class="col-8 offset-3 mb-3">
  <hr>
  <h4>Write a review</h4>
  
  <form action="/listings/<%= listing._id %>/reviews" method="POST" novalidate class="needs-validation">
    
    <div class="mb-3">
      <label for="rating" class="form-label">Rating</label>
      <input 
        type="range" 
        min="1" 
        max="5" 
        id="rating" 
        class="form-range" 
        name="review[rating]">
    </div>

    <div class="mb-3">
      <label for="comment" class="form-label">Comment</label>
      <textarea 
        name="review[comment]" 
        class="form-control" 
        id="comment" 
        cols="30" 
        rows="5" 
        required></textarea> <div class="invalid-feedback">
        Please submit some comments for review.
      </div>
    </div>

    <button type="submit" class="btn btn-outline-dark">Submit</button>
  </form>

  <hr>
  <h4>Reviews</h4>

  <div class="row ">

    <% for(reviews of listing.reviews) { %>
    <div class="card col-5 ms-3 p-4 mb-3">
     <div class="card-body">
       <h5 class="card-title">Mayur</h5>
       <h6 class="card-subtitle mb-2 text-muted">Comment: <%= reviews.comment %></h6>
       <h6 class="card-subtitle mb-2 text-muted">Rating: <%= reviews.rating %> &#9734;</h6>
     </div>
     <form action="/listings/<%= listing._id %>/reviews/<%= reviews._id %>?_method=DELETE" method="POST" class="mb-3">
      <button class="btn btn-dark btn-sm">
        Delete Review
      </button>
     </form>
    </div>
   <% } %>
  </div>


</div>

  </body>
